<div class='row'>The time is now <%= Time.now.strftime("%H:%M:%S %^a-%d %m/%Y") %></div>
<div class='row'>The NYSE is currently <%= @market_closed %></div>
<br />
<div class='row'>
    <div class='small-2 columns'> Stock Index </div>
    <div class='small-2 columns'> Close </div>
    <div class='small-2 columns'> Previous Close</div>
    <div class='small-2 columns'> Percent Change</div>
    <div class='small-2 columns'> Date </div>
    <div class='small-2 columns'> Distribution Day</div>
</div>

<div class='row'><% @stocks.each do |stock_history| %></div>
	<div class='row'>
	    <div class='small-2 columns'>
	        <% @stock = stock_history.stock %>
	    	<%= link_to stock_history.stock.name, stock_path(@stock, format: "html") %>
	    	<br />
	    </div>
	    <div class='small-2 columns'>
	    	<%= stock_history.close %>
	    	<br />
	    </div>
		<div class='small-2 columns'>
			<%= stock_history.previous_close %>
			<br />
		</div>
		<div class='small-2 columns'>
			<%= number_with_precision(stock_history.percent_change, precision: 5)  %>
			<br />
		</div>
		<div class='small-2 columns'>
			<%= stock_history.trade_date.strftime("%m/%d/%Y") %>
			<br />
		</div>    
		<div class='small-2 columns'>
			<font color="#{@dday}">
			<%= stock_history.dist_day %>
			</font>
			<br />
		</div>
	</div>
<% end %>

<div class='row'>

        <%= form_tag(controller: "users", action: "create", method:"get") do %>
            <fieldset><legend>Sign Up Today!</legend>
            <%= email_field(:user, :email) %>
            <input type="submit" value="Sign Me Up"
            </fieldset>
        <% end %>
</div>