<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%= favicon_link_tag '/SCHLOGO.ico' %>
    <title><%= content_for?(:title) ? yield(:title) : "SCHTOCK o' C0M" %></title>
    <div class='row'><%= image_tag("/SCHLOGO.png", :alt => "SCHLOGO") %></div>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<div class='row'><p>The time is now <%= Time.now %></p></div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>